{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" style="background-color: #96adc8 ">
        <div class="col-md-6 col-lg-6" style="margin:0 auto; background-color: #cbd4c2; padding-bottom: 40px; color: #59544b">
            <h1>Complete! {{ resp['stripeBillingName'] }}</h1>
        </div>
    </div>
{% endblock %}